// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$brand-color-foreground: #8B4222;
$brand-color-background: #FFBD40;
$brand-color-accent: #FFE7AE;
$brand-color-accent2: #FFF7F7;