<div class="container my-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
        	<h1>Contact Us</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum excepturi illo eius adipisci vel sunt nemo maxime veritatis alias earum architecto corporis, porro libero aspernatur tempore, doloremque enim dolore cupiditate.</p>
		</div>
	</div>
</div>
