<div class="hero-banner">
  <div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Feel free to contact us via the methods below.</p>
  </div>
</div>

<div class="container my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum excepturi illo eius adipisci vel sunt nemo maxime veritatis alias earum architecto corporis, porro libero aspernatur tempore, doloremque enim dolore cupiditate.</p>
</div>
