<div class="container my-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1>Pages#home</h1>
            <p>Find me in app/views/pages/home.html.erb</p>
            <p>Welcome to this lovely place</p>
            <%= link_to 'View Apartments', apartments_path, :class => "btn btn-primary" %>
            <%= link_to 'Add new Apartment', new_apartment_path, :class => "btn btn-primary" %>
        </div>
    </div>
</div>
