<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Contacts', pages_contacts_path, :class => "btn btn-primary" %>
<%= link_to 'About', pages_about_path, :class => "btn btn-primary" %>
<%= link_to 'Terms and Conditions', pages_terms_and_conditions_path, :class => "btn btn-primary" %>

