.navbar-house-finder {
  justify-content: space-between;
  background-color: $brand-color-background;

  // override original padding from bootstrap
  .nav-link{
  	color: $brand-color-foreground !important;
  	padding: 8px 12px !important;
  }
}

.navbar-house-finder .navbar-collapse {
  flex-grow: 0;
}

.navbar-house-finder .navbar-brand img {
  width: 40px;
}

.navbar-brand{
  color: $brand-color-foreground !important;
}

.navbar-text{
  color: $brand-color-foreground !important;
}
