<div class="apartment_photo_container my-4" id="gallery">
    <% apartment.photos.each do |photo| %>
    	<%= link_to cl_image_path(photo.img) do %>
           <%= cl_image_tag photo.img, :transformation => { :width => 200, :height => 200, :crop => "fill" }, :class => "photo-original" %>
        <% end %>
   
    <% end %>
</div>
