<h2>All photos of Apartment <% @apartment.address %></h2>
<div class="apartment_photo_container">
	<% apartment.photos.each do |photo| %>
  <%= cl_image_tag photo.img, :transformation => { :width => 100, :height => 100, :crop => "pad" }, :class => "photo-original" %>
	<% end %>
</div>

