<div class="apartment_photo_container my-4">
    <h2>All photos of Apartment
        <% @apartment.address %>
    </h2>
    <% apartment.photos.each do |photo| %>
    <%= cl_image_tag photo.img, :cloud_name => "preface", :transformation => { :width => 100, :height => 100, :crop => "fill" }, :class => "photo-original" %>
    <% end %>
</div>
