<div class="container my-4">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<h1>Editing Apartment</h1>

			<%= render 'form', apartment: @apartment %>

			<%= link_to 'Show', @apartment %> |
			<%= link_to 'Back', apartments_path %>
		</div>
	</div>
</div>
